<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headers::head('Admin page')">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>

<nav th:replace="fragments/headers::navbar"></nav>

<div class="container-fluid mt-4">

    <div class="container">

        <div class="row">
            <div class="col-12">
                <h2 class="text-center">Новое объявление</h2>
            </div>
        </div>
        <div class data-marker="goodCategory" id="new">
            <div class="row mt-4">
                <h4 class="text-center">Категория</h4>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <select class="form-select rounded-0 border-0 border-end border-3"
                                aria-label="Default select example" id="categoryId">
                            <!--                            <option selected="" data-marker="option">Выберите категорию</option>-->
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <select class="form-select rounded-0 border-0 border-end border-3"
                                aria-label="Default select example" id="subCategoryId">
                            <!--                            <option selected="" value="" data-marker="option">Выберите подкотегорию</option>-->
                        </select>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <select class="form-select rounded-0 border-0 border-end border-3"
                                aria-label="Default select example" id="typeId">
                            <!--                            <option selected=""  data-marker="option">Выберите тип</option>-->
                        </select>
                    </div>
                </div>
            </div>
            <div class data-marker="parameter">
                <div class="row mt-4">
                    <h4 class="text-center">Параметры</h4>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="exampleInputName" class="col-sm-3 col-form-label">Название объявления</label>
                <div class="col-sm-6">
                    <input class="form-control" id="exampleInputName" required>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="exampleInputDescription" class="col-sm-3 col-form-label">Описание объявления</label>
                <div class="col-sm-6">
                    <textarea class="form-control" id="exampleInputDescription" rows="5" required></textarea>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="exampleInputPrice" class="col-sm-3 col-form-label">Цена</label>
                <div class="col-sm-2">
                    <input type="number" step="0.01" min="0" placeholder="0,00"
                           class="form-control" id="exampleInputPrice" required>
                </div>
            </div>
            <!--                                      Пока не работает                     -->
            <div class="col-md-5 offset-md-3">
                <div class="col-auto text-center">
                    <img src="https://cdn.icon-icons.com/icons2/129/PNG/512/downloads_folder_20499.png"
                         class="align-self-center w-25 h-25">
                    <div class="custom-file mt-4">
                        <input type="file" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Выберите фотографию</label>
                        <small id="file" class="form-text text-danger">
                            Загрузка изображения пока не работает
                        </small>
                    </div>
                </div>
            </div>
            <br>
            <div class="row justify-content-md-center">
                <div class="col-auto">
                    <button type="button" id="buttonAdvertisement" class="btn btn-success">Разместить объявление
                    </button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
<script>

  $.getJSON('http://localhost:8080/api/v1/goods/category/7', function (category) {
    $.getJSON('http://localhost:8080/api/v1/goods/subcategory/8', function (subCategory) {
      $.getJSON('http://localhost:8080/api/v1/goods/type', function (type) {

        $(() => {
          let categoryRow = ''
          $.each(category, (key, value) => {
            categoryRow += '<option selected="" '
            categoryRow += 'id="' + value.id + '" value="' + value.name + '" data-marker="option">' + value.name + ''
            categoryRow += '</option>'
          })
          $('#categoryId').append(categoryRow)

          let subcategoryRow = ''
          $.each(subCategory, (key, value) => {
            subcategoryRow += '<option selected="" '
            subcategoryRow += 'id="' + value.id + '" value="' + value.name + '" data-marker="option">' + value.name + ''
            subcategoryRow += '</option>'
          })
          $('#subCategoryId').append(subcategoryRow)

          let typeRow = ''
          $.each(type, (key, value) => {
            typeRow += '<option selected="" '
            typeRow += 'id="' + value.id + '" value="' + value.name + '" data-marker="option">' + value.name + ''
            typeRow += '</option>'
          })
          $('#typeId').append(typeRow)
          $('#exampleInputName').empty().val('')
          $('#exampleInputDescription').empty().val('')
          $('#exampleInputPrice').empty().val('')
        })
      })
    })
  })

  $('#buttonAdvertisement').click(function () {

    let addAdvertisement = {}
    addAdvertisement.goodsCategory = getCheckedCategory()
    addAdvertisement.goodsSubcategory = getCheckedSubcategory()
    addAdvertisement.goodsType = getCheckedType()
    addAdvertisement.name = $('#exampleInputName').val()
    addAdvertisement.description = $('#exampleInputDescription').val()
    addAdvertisement.price = $('#exampleInputPrice').val()

    let json = JSON.stringify(addAdvertisement).replace('[', '').replace(']', '').replace('[', '').replace(']', '').replace('[', '').replace(']', '')
    console.log(json)

    $.ajax({
      url: 'http://localhost:8080/api/v1/goods',
      type: 'POST',
      contentType: 'application/json; charset=utf-8',
      dataType: 'json',
      data: json,
    })
  })

  function getCheckedCategory () {
    var cats = []
    $.each($('#categoryId option:selected'), function () {
      let cat = {}
      cat.id = $(this).attr('id')
      cat.name = $(this).attr('value')
      cats.push(cat)
    })
    return cats
  }

  function getCheckedSubcategory () {
    let subcats = []
    $.each($('#subCategoryId option:selected'), function () {
      let subcat = {}
      subcat.id = $(this).attr('id')
      subcat.name = $(this).attr('value')
      subcats.push(subcat)
    })
    return subcats
  }

  function getCheckedType () {
    let types = []
    $.each($('#typeId option:selected'), function () {
      let type = {}
      type.id = $(this).attr('id')
      type.name = $(this).attr('value')
      types.push(type)
    })
    return types
  }

</script>
</body>
</html>