<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headers::head('Chat')"></head>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="/css/messenger.css"/>
</head>
<body>
<noscript>
    <h2>Sorry! Your browser doesn't support Javascript</h2>
</noscript>
<nav th:replace="fragments/headers::navbar"></nav>

<div id="chat-page">
    <div class="chat-container">
        <div class="chat-header">
            <h2>Messages</h2>
        </div>

        <ul>
            <div id="messageArea" th:each="channel : ${channels}">
                <a onclick="goToMessage(this); return false;" href="#"
                   th:id="${channel.getSender().getId() + '-' + channel.getAdvertisement().getId()}">
                    <div>
                        <li>
                            <p th:text="${channel.getSender().getFirstName() + ' ' + channel.getSender().getLastName() }"></p>
                            <p th:text="${channel.getAdvertisement().getName()} + ' • ' + ${channel.getAdvertisement().getPrice()} + ' ₽'"></p>
                        </li>
                    </div>
                </a>
            </div>
        </ul>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script>
    function goToMessage(event) {
        let idArray = event.id.split("-");
        let recipientID = idArray[0];
        let advertisementID = idArray[1];
        window.location.href = '/profile/messenger/channel/messages/' + recipientID + '-' + advertisementID;
    }
</script>
</body>
</html>