<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headers::head('Main page')"></head>
<body>
<nav th:replace="fragments/headers::navbar"></nav>

<div class="container-fluid mt-4">
    <div class="row m-3">
        <div class="col px-md-5">
            <a class="link">
                <!--           временная ссылка, modelRecoveryPassword необходимо в дальнейшем вставить на страницу логина-->
                <div th:replace="fragments/recoverPassword::modalRecoveryPassword"></div>
            </a>
        </div>
    </div>
</div>
<div class="container">
        <div class="list-unstyled" th:object="${good}">
            <div class="media start-20">
                <img src="/img/image-none.png" class="align-self-center mr-3 w-25 h-25" alt="">
            </div>
            <div class="media-body end-20">
                <h3 th:text="${good.name}"></h3>
                <h5 th:text="${good.price} + ' &#8381;'"></h5>
                <p th:text="${good.description}"></p>
            </div>
        </div>
</div>
</body>
</html>